/* ANIMACIÓN- INDEX */
.overlay {
    height: 100%;
    transform: translate(0%, 20%);
    transition: all 2s;
}

.overlay__precio {
    color: #579684;
    font-size: 0;
}
.overlay__texto{
    color: #579684;
    font-size: 0;
}
.combosdelmes:hover .overlay__precio {
    color:#000000;
    font-weight: 700;
    font-size: 30px;
    top: 45%;
    left: 50%;
    margin-top: 1rem;
    transform: translate(0%, 20%);
    transition: all 2s;
}
.combosdelmes:hover .overlay__texto{
    color: #000000;
    font-family: 'Mulish', sans-serif;
    font-size: 10pt;
    transform: translate(0%, 20%);
    transition: 1s;
}
.combosdelmes:hover .overlay{
    background-color:#A3BEB5;
    opacity: 1;
    z-index: 1;
    opacity: 1;
    transition: 1s;
    position:relative;
    }

    

/* ANIMACIÓN- MAYORISTAS */

.object{
    background-color: $colorSecundario;
    color: #000000;
    margin-top: 2rem;
    margin-left: 47%;
    padding: 0.5rem;
    border-radius: 5%;
    border: 0;
    font-size: 12pt;
}

#transform:hover .zoom{
    transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2); 
    -moz-transform: scale(2);
}
