*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

    @import "_mixins";

$colorPrincipal: #579684;
$colorSecundario: #8AA678;
$tipografiaTitulos: 'Playfair Display', serif;
$tipografiaBody: 'Mulish', sans-serif;

ul {
    list-style-type: none;    
}

body {
    font-family: $tipografiaBody;
    background-color: white;
    font-size: 16px;
    margin-left: 10pt;
    margin-right: 10pt;
}

h1,h2 {
    @include titulos; 
 }

h3 {
    font-family: $tipografiaTitulos;
    color: $colorPrincipal;
    font-size: 14pt;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }

h5 {
    font-family: $tipografiaBody;
    font-weight: 600;
    font-size: 14pt;
    text-align: center;
    color:#ffffff;
}

h6 {
    font-family:$tipografiaBody;
    font-size: 15px;
}
.row {
    justify-items: center;
}

.mayoristas {
    background-color:#ffffff;
}

.rounded-start {
    border-radius: 5%;
    padding: 0.5rem;
}

.rounded-start2 {   
    border-radius: 5%;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
