*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

    @import "_mixins";

$colorPrincipal: #579684;
$colorSecundario: #8AA678;
$tipografiaTitulos: 'Playfair Display', serif;
$tipografiaBody: 'Mulish', sans-serif;

ul {
    list-style-type: none;    
}

body {
    font-family: $tipografiaBody;
    background-color: white;
    font-size: 16px;
    margin-left: 10pt;
    margin-right: 10pt;
}

h1,h2 {
    @include titulos; 
 }

h3 {
    font-family: $tipografiaTitulos;
    color: $colorPrincipal;
    font-size: 14pt;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }

h4{
    font-family: $tipografiaTitulos;
    color: $colorSecundario;
    font-size: 14pt;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

h5 {
    font-family: $tipografiaBody;
    font-weight: 600;
    font-size: 14pt;
    text-align: center;
    color:#ffffff;
}

h6 {
    font-family:$tipografiaBody;
    font-size: 15px;
}

.h7 {
    font-family: $tipografiaTitulos;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.h8{
    font-family: $tipografiaBody;
    color: black;
    font-size: 12pt;
    margin-bottom: 5pt;
    padding-bottom: 20px;
}

.form-control{
    font-family: $tipografiaBody;
    font-size: 8pt;
}

.mayoristas {
    background-color:#ffffff;
}

.rounded-start {
    border-radius: 5%;
    padding: 0.5rem;
}

.rounded-start2 {   
    border-radius: 5%;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.video-responsive{
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.serum{
    text-align: center;
}

.w-100 {
    width: auto!important;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.contenedor{
    display: grid;
    grid-template-columns: 450px 1fr 1fr 1fr 1fr;
    margin-right: 1rem;
}

.filtro{
    margin-left: 5rem;
}

.card-title1{
    font-family: $tipografiaTitulos;
    font-size: 18pt;
    font-weight: 600;
    color: $colorPrincipal;
    margin-top: 2rem;
    text-align: center;
}

