.footer {
    background-color:#cee9e0;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    font-size: 10pt;

    &__paginas {
        text-decoration: none;
        color: #000000;     
    }
    &__bem{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
        text-align: center;
        margin-top: 1rem;
        color: #000000;
        font-family: $tipografiaBody;
    }
    &__img-redes {
        justify-self: center;
    }
} 
        
    .footer-bem-categoria{
            display: grid;
            margin-left: 10px;
            text-align: center;
         }
    /* .categoria__pag{
        padding-left: none;
    } */



.copyright {
    background-color: $colorPrincipal;
    text-align: right;
    font-size: 9pt;
    color: white;
    height: 50px;
    padding-top: 20px;
    padding-right: 10pt;
}

.categoria__paginas{
    font-family: $tipografiaBody;
    text-decoration: none;
    color: black;
}
.categoria__paginas:hover{
    color: $colorPrincipal;
}

li{
    display: block;
}